<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>{{config.title}}</title>
  <base href="/">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">


  <meta name="application-name" content="{{config.appName}}">
  <meta name="description" content="{{config.description}}" />
  <meta name="apple-mobile-web-app-title" content="{{config.appTitle}}">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="{{config.statusBarStyle}}">
  
  <link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}/app-icon/{{config.subdomain}}/57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}/app-icon/{{config.subdomain}}/60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}/app-icon/{{config.subdomain}}/72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}/app-icon/{{config.subdomain}}/76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}/app-icon/{{config.subdomain}}/114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}/app-icon/{{config.subdomain}}/120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}/app-icon/{{config.subdomain}}/144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}/app-icon/{{config.subdomain}}/152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}/app-icon/{{config.subdomain}}/180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{assetUrl}}/app-icon/{{config.subdomain}}/192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}/app-icon/{{config.subdomain}}/16.png">

  <link rel="manifest" href="manifest/{{config.subdomain}}/manifest.json">

</head>
<body>
      {{{body}}}
</body>
</html>